.App {
  background: rgb(182, 182, 182);
  min-height: 1000px;
}

.musikBoxLogo {
  width: 60%;
  height: 60%;
  color: white;
}

.musicImg {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
}

.musicImg img {
  margin-top: 10px;
}
.top {
  background: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.searchbar form {
  /* background-color: #114880; */
  background-color: black;
  width: 35vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  border-radius: 15px;
  border-style: solid;
  margin-top: 5px;
  margin-bottom: 5px;
}

.searchbar input {
  width: 100% !important;
  height: 30px !important;
  border-radius: 5px !important;
}

.favorites button {
  margin-top: 15px;
  margin-left: 10px;
  height: 30px;
  width: 20%;
  border: 2px solid orange;
  border-radius: 10px;
}

.searchField {
  height: 30px;
}

.body {
  background: rgb(182, 182, 182);
  min-height: 1000px;
}

.card-list {
  height: 500px;
}

.card-list div {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.card-display {
  background: white !important;
  border: solid 4px rgb(112, 112, 112);
  padding: 10px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.card-display h2 {
  border-bottom: 1px solid rgb(102, 102, 102);
}

.track-display {
  justify-content: space-between;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgb(102, 102, 102);
  display: flex;
}

.top-heading {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.track-name {
  font-size: 11px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  font-weight: bold;
}

.track-artist {
  font-size: 10px;
  text-decoration: none;
}

footer {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: black;
  color: #ddd;
}

.addFave {
  background: none;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

.addFave:hover {
  font-size: 22px;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.addFave:active {
  transform: translateZ(10px);
}

.search-title {
  text-align: center;
}

footer p {
  text-align: center;
}

.empty-favorites {
  text-align: center;
  font-weight: bold;
  size: 50px;
}

.sub-bar {
  background: white;
  height: 40px;
  display: flex;
  justify-content: center;
}

.sub-bar button {
  border: none;
  background: none;
  font-weight: bold;
  color: rgb(153, 103, 11);
}

.popular-artists {
  margin-top: 10px;
}

.loadingspin {
  display: flex;
  justify-content: center;
}
