/* .App {
  height: 100vh;
  width: 100vw;
  background-color: rgb(168, 173 182);
  display: flex;
  flex-direction: row;
  place-items: center;
} */

.top img {
  margin-left: 10vh;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 5%;
}
.top {
  background: linear-gradient(
    to left,
    rgb(23, 1, 143),
    #4749da,
    rgb(153, 83, 233)
  );
  display: flex;
  flex-direction: row;
}

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.searchbar form {
  background-color: #114880;
  width: 35vw;
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  justify-content: flex-start;
  flex-wrap: nowrap;
  border-radius: 15px;
  border-style: solid;
}

.searchbar input {
  margin-left: 5%;
  width: 50%;
  height: 30px;
}
